:root {
  /* default font size in browsers is 16px = 1em, we make
       things easier for us and make 10px our base size.
       We have 10/16 = 0.625 = 1rem as it is set on root element.
       So 1rem is now 10px throughout our stylesheet.*/
  font-size: 0.625em;
  --hue: 120;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 40%);
  --hoverground-color: hsl(var(--hue), var(--saturation), 60%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  /* margin: auto;
  max-width: 60rem; */
  color: #f3f8f7;
  background-color: var(--background-color);
}

header {
  text-align: center;
  margin-top: 3rem;
}

div {
  height: 2rem;
  width: 2rem;
}

.title {
  color: var(--foreground-color);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}
.header__span {
  font-size: 30px;
  font-style: italic;
}

.score-display {
  font-size: 5rem;
  color: #f0f0f0;
}

.game-area {
  display: flex;
  height: 550px;
  justify-content: center;
  flex-direction: row;
}

.game {
  display: flex;
  height: auto;
  width: 1300px;
  justify-content: space-between;
  padding-top: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20rem;
  height: 40rem;
}

.previous-grid {
  display: flex;
  flex-wrap: wrap;
  width: 8rem;
  height: 8rem;
  align-items: center;
  margin-top: 15px;
}

.block {
  background-image: url(images/blue_block.png);
}

.block2 {
  background-image: url(images/green_block.png);
}

.block3 {
  background-image: url(images/orange_block.png);
}

.block4 {
  background-image: url(images/purple_block.png);
}

.block5 {
  background-image: url(images/red_block.png);
}

.end {
  background-color: #d8edea;
  background-image: url(\\wsl$\Ubuntu\home\skankt\folders\change\make-your-game\images\blue_block.png);
}

.button {
  /* position: relative; */
  display: flex;
  width: 200px;
  padding: 15px 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgb(56, 13, 13);
  border-radius: 8px;
  background-color: var(--foreground-color);
}

.button:hover {
  background: var(--hoverground-color);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  width: 200px;
  background-color: transparent;
  border-radius: 5px;

  color: var(--foreground-color);
  font-size: 18px;
  gap: 20px;
}

.score,
.lines-display,
.lives {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 700;
}

/*menu*/
.container {
  max-width: 600px;
  padding: 0 3rem;
  margin: auto;
  overflow: hidden;
}

.btn:hover {
  opacity: 0.7;
}

.timer {
  display: flex;
  width: 40%;
  min-width: 50px;
  transform: translate(-50%, -50%);
  top: 85%;
  left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius: 10px;
}
.timerDisplay {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  padding: 40px 10px;
  font-family: "Roboto mono", monospace;
  color: var(--hoverground-color);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
}

.buttons {
  width: 200px;
  height: 100%;
  padding-top: 10%;
}
.lives {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}
